# MongoDB Connection String (Atlas preferred)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/ciphersql

# PostgreSQL Sandbox Connection String
DATABASE_URL=postgresql://<username>:<password>@<host>:<port>/<dbname>

# Google Gemini API Key
GEMINI_API_KEY=AIzaSy...

# Port for Backend Server
PORT=5000
